.p2head{
    text-align: center;
    font-size: 35px;
    color: black;   
}

.p2{
    background-color: white;
    padding: 0;
}
#context{
    color: black;
    font-size: 25px;
    text-align: center;
    background-color: white;
}

